@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
</style>
* { margin:0; padding: 0; box-sizing:border-box; }

section {
    padding: 5em 0;
}
h1, h2, h3{
	font-family: 'Indie Flower', cursive;
	text-transform: uppercase;
	text-align: center;
}

p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

header {

	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #aaaaaa;
	font-family: Arial, sans-serif;
}

a{
	background-color: #ff7900;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
a:hover{
	background-color: #aaaaaa;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

#text {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
#slider {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	margin: 100px;
}

#portfolio div {
background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px 50px 20px 20px;
	margin: 100px 20px 100px 20px;
	float:left;

}

#process
{

text-align: center;

}

#process h2 {


padding-bottom: 20px;
margin-bottom: 20px;
}



footer {
background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#logo{

	display:inline;
	margin:0 auto;
}

#wally{
	
	margin: 0 auto;
	clear: both;

}


#splash{
	text-align: center;
	background: url(../images/Media.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding: 10em 0 0;
	height: 80vh;
}
.intro {
	background: none;
	color:black;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;


}
.important{
	text-shadow: 5px 5px 5px rgba(0,0,0,.2);
	text-transform: capitalize;
	font-size: 18px;
	color: black;
	text-align: center;
}
span{
	padding-left: 30px;
	padding-right: 30px;
}
	



#about {
	background-color: blue;


}

#about h2{
	font-size: 24px;
	padding-bottom: 20px;

}

#two_column{
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;

}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " " ;
	clear: both;
	height: 0;
}

section {
	background-color: lightpink;

}



.blue {
	text-transform: uppercase;
}
#Contact{

	text-align: center;
}

#wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
