@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

*{margin:0; padding:0; box-sizing: border-box;}

section {
    padding: 5em 0;
}
h1, h2, h3{
	font-family: 'Indie Flower', cursive;
	text-transform: uppercase;
	text-align: center;
}
h1{
	font-size: 46px;
}

p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.125em;
}

header {

	background-color: none;
	border: 1px black solid;
	padding: 10px;
}

nav {
	background-color: #ff7900;
	font-family: Arial, sans-serif;
}

a{
	background-color: #ff7900;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

a:hover{
	background-color: #3c38ae;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

#text {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#social {
	padding: 20px;


}
#social div{

float: right;

}


#portfolio div {
background-color: #FFE2B8;
	border: 1px black solid;
	/*padding: 20px 50px 20px 20px;
	margin: 100px 20px 100px 20px;*/
	float:left;
	width: 25%;
	height: 21.25vw;
	overflow: hidden;

}

#portfolio div img{

	display: block;
	width: 100%;
}

#process
{

text-align: center;
background-color: red;

}

#process h2 {


padding-bottom: 20px;
margin-bottom: 20px;
}



footer {
background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#logo{

	display:inline;
	margin:0 auto;
	float: left;
}

#wally{
	
	margin: 0 auto;
	clear: both;

}


#splash{
	text-align: center;
	background: url(../images/Media.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding: 10em 0 0;
	height: 90vh;

}

#splash h1,h2{
	font-size: 2em;
	color: white;
	margin bottom: : 40px;
	font-family: gloria Hallelujah;
}
.intro {
	background: none;
	color:black;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size: 2.2em;


}
.important{

	text-transform: capitalize;
	font-size: 1.5em;
	color: black;
	text-align: center;
}
span{
	padding-left: 30px;
	padding-right: 30px;
}
	



#about {
	background-color: blue;
	margin: 20px;
	max-width: 100%;


}

#about h2{
	font-size: 1.5em;
	padding-bottom: 20px;

}

#two_column{
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;


}

#left {
	background-color: green;
	border: 5px black solid;
	padding: 20px;
	float: left;
	width: 50%;

}

#right {
	background-color: green;
	border: 5px black solid;
	padding: 39.2px;
	float: right;
	width: 50%;

}

  .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " " ;
	clear: both;
	height: 0;
}





.blue {
	text-transform: uppercase;
}
#Contact{

	text-align: center;

}
#contact {

}
#wrapper {
	max-width: 100%;
	margin: 0 auto;
	
}
@media only screen and(max-width: 760px)
@media only screen and(max-width: 425px)
