@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
</style>
* { margin:0; padding: 0; box-sizing:border-box; }

section {
    padding: 5em 0;
}
h1, h2, h3{
	font-family: 'Indie Flower', cursive;
	text-transform: uppercase;
	text-align: center;
}

p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

header {

	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#text {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
#slider {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
div {
background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

footer {
background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#logo{

	display:block;
	margin:0 auto;
}
#splash{
	text-align: center;
	background: url(../images/Media.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding: 10em 0 0;
	height: 80vh;
}
.purple {
	background:purple;
	color:#fff;
	font-family: 'Cormorant Garamond', serif;

}
.important{
	text-shadow: 5px 5px 5px rgba(0,0,0,.2);
	text-transform: capitalize;
	font-size: 18px;
	color: red;
	text-align: center;
}
span{
	padding-left: 30px;
	padding-right: 30px;
}
	

